<!DOCTYPE html>
<html>
    <head>
        <title>XVA-08-01-angularJSBasic</title>
    </head>
    <!-- Auto bootstrap "myApp" to this page-->
    <body ng-app="myApp">
        <section ng-view>
            
        </section>
        <script src="//rawgit.com/XSockets/XSockets.Clients/master/src/XSockets.Clients/XSockets.JavaScript/XSockets.latest.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular-route.js"></script>
        <script src="/app/app.js"></script>
        <script src="/app/controllers/ChatController.js"></script>
        <script src="//rawgit.com/XSockets/XSockets.Clients/master/src/XSockets.Clients/XSockets.angularJS/src/xsocketsProvider.min.js"></script>

    </body>
</html>
