<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>XVA-07-02 BoostWCF</title>
</head>
<body>
    <div>
        Open a few windows to make it more fun! You will then see the messages sent from one WCF request dispatched to all clients.
    </div>

    <input type="text" placeholder="Message here..." value="Zebras are nice" id="message" />
    <button id="send">Click me to send a message from the WCF to all clients over websockets</button>
    <div id="info"></div>

    <script src="/Scripts/jquery-2.1.1.min.js"></script>
    <script src="/Scripts/XSockets.latest.min.js"></script>
    <script>
        /// XSOCKETS
        var conn = new XSockets.WebSocket("ws://127.0.0.1:4502", ['zoo']);
        var zoo = conn.controller('zoo');

        //When XSockets distributes the messages from WCF to all clients...
        zoo.on('say', function (data) {
            $('#info').prepend($("<p>").text(data));
        });

        /// AJAX
        $('#send').bind('click', function (e) {
            $.getJSON('http://' + location.host + '/zooservice/say/' + $('#message').val()).done(function (d) {
                //Returned from AJAX call...
                $('#info').prepend($("<p>").text(d));
            });
        });
    </script>
</body>
</html>
