<!DOCTYPE html>
<html>
<head>
    <title>XVA - Clock - Longrunning controller</title>
</head>
<body>
    <div id="clock"></div>
    <script src="/Scripts/XSockets.latest.min.js"></script>
    <script>
        var conn = new XSockets.WebSocket('ws://localhost:4502', ['clock']);
        var clock = conn.controller('clock');
        clock.tick = function (t) {
            document.querySelector('#clock').innerText = t;
        };
    </script>
</body>
</html>
