<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="2.1.4" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net451" />
  <package id="Serilog" version="1.5.12" targetFramework="net451" />
  <package id="XSockets" version="5.0.1" targetFramework="net451" />
  <package id="XSockets.Client" version="5.0.0" targetFramework="net451" />
  <package id="XSockets.Core" version="5.0.1" targetFramework="net451" />
  <package id="XSockets.ItemTemplates" version="5.0.1" targetFramework="net451" />
  <package id="XSockets.JsApi" version="5.0.0" targetFramework="net451" />
  <package id="XSockets.Plugin.Framework" version="5.0.1" targetFramework="net451" />
  <package id="XSockets.Server" version="5.0.1" targetFramework="net451" />
</packages>