<!DOCTYPE html>
<html>
<head>
    <title>XFighter an XSockets.NET Academy example</title>
    <link href="/assets/css/default.css" rel="stylesheet" />

</head>
<body>
    <div id="wrap">
        <nav>
            <div><strong>HITS</strong>&nbsp;<span id="score">0</span>&nbsp;<strong>RESPAWNS:</strong>&nbsp;<span id="respawns">0</span></div>
        </nav>
        <div id="main">
            <canvas id="surface"></canvas>
        </div>
        <footer>
            <span>A = THROTTLE</span>
            <span>Z = BREAK</span>
            <span>&larr;&nbsp;LEFT</span>
            <span> RIGHT&nbsp;&rarr;</span>
            <span> SPACE - FIRE</span>
        </footer>
    </div>
    <script src="~/Scripts/XSockets.latest.min.js"></script>
    <script src="~/Scripts/Noc.beta.min.js"></script>
    <script src="~/Scripts/jquery-2.1.1.min.js"></script>
    <script src="~/Scripts/game.js"></script>
    <script src="~/Scripts/game.entities.js"></script>


</body>
</html>
