<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>XSockets - Simple RPC</title>
</head>
<body>
    <button id="logout">LogOut</button>
    <hr/>
    <label>Username</label><br />
    <input type="text" id="username" value="Steve" /><br />
    <label>Message</label><br />
    <input type="text" value="Hello World" id="message" /><button id="send">send</button>
    <hr />
    <div data-bind="foreach:messages">
        <div>
            <span data-bind="text:username"></span>: <span data-bind="text:message"></span>
        </div>
    </div>

    <script src="/Scripts/XSockets/xsockets.latest.js" type="text/javascript"></script>
    <script src="/Scripts/knockout-3.3.0.js"></script>
    <script type="text/javascript">
        //VM
        var vm = { messages: ko.observableArray([]) };
        ko.applyBindings(vm);

        //Connect to the built in "Generic" controller
        var conn = new xsockets.client('ws://localhost:4502', ['chat']);
        conn.autoHeartbeat(true, 3000);
        conn.autoReconnect();
        conn.setPersistentId(xsockets.utils.guid());
        conn.setParameters({ uid: 'abc123' });
        var controller = conn.controller('chat');

        //Handle the "chatmessage" event
        controller.on('chatmessage', function (d) {
            vm.messages.unshift(d);
        });

        controller.on('die', function (d) {
            conn.close();
            alert("Connection closed since you logged out in a tab");
        });

        //When button is clicked, send a message
        document.querySelector("#send").onclick = function () {
            var u = document.querySelector('#username').value;
            var m = document.querySelector('#message').value;
            controller.invoke('chatmessage', { username: u, message: m });
        };

        document.querySelector("#logout").onclick = function () {            
            controller.invoke('logout');
        };

        conn.open();
    </script>
</body>
</html>
