<!DOCTYPE html>
<html>
<head>
    <title>XVA - Clock - Longrunning controller</title>
</head>
<body>
    <div id="clock"></div>
    <script src="/Scripts/XSockets.latest.min.js"></script>
    <script>
        var conn = new XSockets.WebSocket('ws://'+location.host, ['clock']);
        conn.controller('clock').on('tick', function(t) {
            document.querySelector('#clock').innerText = t;
        });
    </script>
</body>
</html>
