@font-face {
    font-family: "C64 Pro Mono Local";
    src: url('/assets/fonts/C64_Pro_Mono-STYLE.eot');
    src: url('/assets/fonts/C64_Pro_Mono-STYLE.svg#C64ProMono') format('svg');
    src: url("/assets/fonts/C64_Pro_Mono-STYLE.ttf") format("truetype");
}


#main {
    margin-left: auto;
    margin-right: auto;
    width: 1280px;
    height: 600px;
    margin-bottom: 60px;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'C64 Pro Mono Local';
    color: #fff;
    overflow: hidden;
    background: rgb(116, 116, 252);
}

canvas {
    background: #000;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 1280px;
    height: 600px;
    cursor: none;
}


nav {
    text-align: center;
    position: fixed;
    min-height: 32px;
    background: rgb(116, 116, 252);
    width: 100%;
}

    nav img {
        min-height: 32px;
    }

    nav div {
        margin-top: 8px;
        font-size: 18px;
        display: inline-block;
        height: 24px;
    }

    nav .fa.sound {
        position: fixed;
        right: 10px;
        top: 10px;
        color: #fff;
    }


footer {
    padding: 5px;
    background: rgb(116, 116, 252);
    width: 100%;
    text-align: center;
}

    footer span {
        position: relative;
        width: 200px;
        display: inline-block;
        font-size: 12pt;
        line-height: 16px;
    }
