<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>XVA-03-01 Serilog.Sinks.XSockets</title>
</head>
    <body>
        <h2>Serilog.Sinks.XSockets</h2>
        <div>Individual LogLevel in RealTime</div>
        <hr/>
        <h3>Default level is Information</h3>
        <div>Open several browsers and choose different levels to see that logs only appear when level is equal to or above selected level</div>
        <select id="loglevel" onchange="changeLogLevel()">
            <option value="Verbose">Verbose</option>
            <option value="Debug">Debug</option>
            <option value="Information" selected="selected">Information</option>
            <option value="Warning">Warning</option>
            <option value="Error">Error</option>
            <option value="Fatal">Fatal</option>
        </select>
        <h3>Latest Received LogMessage</h3>
        <div id="latestlog">    
        </div>
        <script src="/Scripts/XSockets.latest.min.js"></script>
        <script>
            //Start a client and hook up only to the log controller...
            var conn = new XSockets.WebSocket("ws://localhost:4502", ["log"]);

            //Listen for log events, by default the event will be Information and higher.
            conn.controller("log").on("logEvent", function (e) {                
                document.querySelector('#latestlog').innerText = JSON.stringify(e);
            });

            //Change individual log level
            var changeLogLevel = function () {
                //Clear latest
                document.querySelector('#latestlog').innerText = "";
                //Change level
                var l = document.querySelector('#loglevel').value;
                conn.controller('log').setEnum("LogEventLevel", l);
            };
        </script>
    </body>
</html>
