<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>XVA-03-03 MessagePipeline</title>
</head>
    <body>
        <input type="text" value="Hello World" id="message" /><button id="send">send</button>
        <div data-bind="foreach:messages">
            <div data-bind="text:text"></div>
        </div>
        <script src="/Scripts/XSockets.latest.min.js"></script>
        <script src="/Scripts/knockout-3.2.0.js"></script>
        <script>
            var vm = { messages: ko.observableArray([]) };
            ko.applyBindings(vm);

            var conn = new XSockets.WebSocket('ws://127.0.0.1:4502', ['generic']);
            var generic = conn.controller('generic');

            generic.on('message', function(d) {
                vm.messages.unshift(d);
            });

            document.querySelector('#send').onclick = function() {
                generic.invoke('message', {text:document.querySelector('#message').value});
            };
        </script>
    </body>
</html>
