<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>XVA-02-04 Logging</title>
</head>
<body>
    <div>
        <button id="senddata">Send data to be logged...</button> 
        <div>see log in output window... learn more about logging at Serilog.net</div>       
    </div>
    <script src="/Scripts/XSockets.latest.min.js"></script>
    <script>
        var conn = new XSockets.WebSocket('ws://127.0.0.1:4502', ['simple']);
        var simple = conn.controller('simple');

        //When the button is clicked we send a basic object to log
        document.querySelector('#senddata').onclick = function() {
            simple.invoke('logtest',{Text:'Hello RealTime', Number:123});
        };
        
    </script>
</body>
</html>
