<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>XVA - Configuration Basics</title>
</head>
    <body>
        <div>Click the link to open up another window with the <a href="" onclick="openWindow('/index.cshtml')">index.cshtml</a></div>
        <button id="btn-send">send</button>
        <div data-bind="foreach:messages">
            <div data-bind="text:say"></div>
        </div>
        <script src="/Scripts/XSockets/XSockets.latest.min.js"></script>
        <script src="/Scripts/knockout-3.3.0.js"></script>
        <script>
            var openWindow = function(url) {
                window.open(url, 'custom config', "height=800,width=600");
            }

            var vm = { messages: ko.observableArray([]) };

            ko.applyBindings(vm);

            var conn = new xsockets.client('ws://127.0.0.1:82', ['generic']);
            var g = conn.controller('generic');

            //When messages arrive on the foo method/topic
            g.on('foo', function (d) {
                vm.messages.unshift(d);
            });

            //Send a message when the button was clicked
            document.querySelector('#btn-send').onclick = function () {
                g.invoke('foo', { say: 'Hello from a client on endpoint 127.0.0.1:82' });
            };
            conn.open();
        </script>
    </body>
</html>
