<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net45" />
  <package id="Serilog" version="1.5.14" targetFramework="net45" />
  <package id="XSockets" version="5.3.1" targetFramework="net45" />
  <package id="XSockets.Core" version="5.3.1" targetFramework="net45" />
  <package id="XSockets.ItemTemplates" version="5.0.2.1" targetFramework="net45" />
  <package id="XSockets.JsApi" version="6.0.1" targetFramework="net45" />
  <package id="XSockets.Plugin.Framework" version="5.3.1" targetFramework="net45" />
  <package id="XSockets.Server" version="5.3.1" targetFramework="net45" />
</packages>